---
import Layout from "../layouts/Layout.astro";
import { getEnv } from "../helpers";
import Card from "../components/Card.astro";

const BASE_URL = getEnv("BASE_URL");

const res = await fetch(`${BASE_URL}/api/v1/products?page=3`);
const { data } = await res.json();
---

<Layout title="Welcome to Astro." height="">
  <main class="w-full">
    <div
      class="grid xl:grid-cols-5 md:grid-cols-3 grid-cols-2 gap-y-4 gap-2 xl:w-[70%] md:w-[80%] w-[90%] m-auto justify-items-center"
    >
      {data.map((e: any) => <Card data={e} />)}
    </div>
  </main>
</Layout>
