---
import Layout from "../layouts/Layout.astro";
import { getEnv } from "../helpers";
import Card from "../components/Card.astro";

const BASE_URL = getEnv("BASE_URL");

const res = await fetch(`${BASE_URL}/api/v1/products`);
const { data } = await res.json();
---

<Layout title="Welcome to Astro." height="">
  <main
    class="grid xl:grid-cols-5 md:grid-cols-3 grid-cols-2 place-items-center gap-3"
  >
    {data.map((e: any) => <Card data={e} />)}
  </main>
</Layout>
