---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main class="flex-1">
    <p
      class="text-5xl drop-shadow-[0_10px_35px_rgba(255,255,255,0.5)] hover:drop-shadow-[0_10px_35px_rgba(255,255,255,0.9)]"
    >
      test
      <a href="/about">about</a>
    </p>
  </main>
</Layout>
