<footer class="w-full grid place-items-center border-t-2 border-white/30">
  <p class="py-4">
    Copyright © 2023 <a
      href="https://romysaputrasihananda.github.io"
      target="_blank">Romyyy</a
    >. All Rights Reserved
  </p>
</footer>
